version: "3.9"

services:
  backend:
    build: ./backend
    container_name: skinmatch-backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      args:
        - BACKEND_URL=http://backend:8000
    container_name: skinmatch-frontend
    environment:
      - BACKEND_URL=http://backend:8000
    ports:
    - "3000:3000"
    depends_on:
    - backend


  db:
    image: postgres:15
    container_name: skinmatch-db
    environment:
      POSTGRES_DB: skinmatch
      POSTGRES_USER: skinuser
      POSTGRES_PASSWORD: skinpass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
