django>=5.0
django-ninja
django-ninja-extra
 djangorestframework>=3.15.0,<3.16.0
psycopg[binary]>=3.2
dj-database-url>=2.1.0
python-dotenv>=1.0.1
email-validator>=2.0.0
PyJWT~=2.9
django-cors-headers==4.4.0
whitenoise==6.7.0
google-generativeai
python-dotenv
dj_database_url
email_validator
google-auth>=2.32.0,<3.0
requests>=2.32.0,<3.0
pytest
pytest-django
cryptography>=42
django-allauth>=0.61.0,<0.62.0
gunicorn>=22.0.0,<23.0.0
uvicorn[standard]>=0.30.0,<0.31.0
Pillow>=10.4.0,<11.0.0
